    .myrow {
	    width: 684px;
	}
	.box {
		width: 36px;
		height: 36px;
		float: left;
	}
	#mapzone {
		width: 684px;
		height: 576;
		float: left;
		background-color: black;
	}
	.b{
		border:10px solid red;
	}
	.w {
		background-color: green;
	}
	.g {
		background-color: blue;
	}
	.p {
		border:10px solid yellow;
	}
	.g.b {
		background-color: purple;
	}
	.g.p {
		background-color: purple;
	}